body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.section {
  width: 90%;
  height: 100vh;
  margin: 1rem auto;
  max-width: 1170px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}
.title {
  text-transform: uppercase;
  margin: 2rem 0;
}
input {
  display: inline-block;
  width: 30%;
  margin: 0 10px;
  padding: 3px 6px;
  outline: none;
}
.btn {
  padding: 3px 6px;
  background-color: blue;
  color: darkturquoise;
  border: none;
}
label {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 20px;
}
.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.text p {
  padding: 10px;
}
